*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background: #3772FF;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calculator__container {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    text-align: center;
    border: 6px solid #fff;
    border-radius: 7.5px;
    height: auto;
    box-shadow: 0 0 30px 25px #F038FF;
    background: #fff;
    gap: 5px;
}

.box {
    grid-column: 1/5;
    padding: 50px;
    position: relative;
    background: #BCF8EC;
}

#prev {
    color: grey;
    position: absolute;
    font-size: 1rem;
    top: 10px;
    right: 15px;
}

#current {
    font-size: 2rem;
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #000;
}

.calculator__container button{
    border: none;
    font-size: 1.5rem; 
    padding: .5rem;
    outline: none;
}

.calculator__container button:hover {
    cursor: pointer;
}

#all-clear {
    background: #F42C04;
    color: #fff;
}

#clear {
    background: #F9A620;
    color: #FFF;
}

#number, #number__span__2 {
    background: #7A9B76;
    color: #fff;
}

#divide, #multiply, #minus, #add {
    background: #0E1116;
    color: #fff;
}

#number__span__2 {
    grid-column: 1/3;
}

#equals {
    grid-row-start: 5;
    grid-column-start: 4;
    grid-row-end: 7;
    background: #FF47DA;
    color: #fff;
}
